.nav {
    grid-area: n;
    background-color: burlywood;
    padding: 20px;
}

.nav a {
    text-decoration: none;
}

/*.item a {*/
/*    color: white;*/
/*}*/

.item {
    color: white;
}

.active {
    color: gold;
}

